
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700;900&display=swap');

:root {
  --font-base: "Poppins", sans-serif;

  --primary-color: #e3e6e5;
  --secondary-color: #3db29d;
  --black-color: #030303;
  --lightGray-color: #e4e4e4;
  --gray-color: #616e7f;
  --brown-color: #352331;
  --white-color: #ffffff;
  --blue-color: #313BAC;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}